.hero {
  display: flex;

  flex-direction: column;

  gap: 2rem;

  align-items: center;
  justify-content: center;

  min-height: calc(100vh - theme("height.navigationHeight"));

  padding: 4rem;
}

.heroTitle {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;

  text-shadow: 0 0 0.25rem rgb(0 0 0 / 25%);

  &::selection {
    color: theme("colors.white");

    background: theme("colors.black");
  }
}

.heroSubtitle {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  color: theme("textColor.blue.700");

  text-shadow: 0 0 0.1875rem rgb(29 78 216 / 25%);

  &::selection {
    color: theme("colors.white");

    background: theme("colors.blue.700");
  }
}
