.hero {
  @apply flex flex-col gap-8 justify-center items-center min-h-[100vh] py-[6rem];
}

.heroTitle {
  @apply text-[4rem] font-bold uppercase leading-none;

  text-shadow: 0 0 0.25rem rgb(0 0 0 / 25%);

  &::selection {
    background: theme("colors.black");
    color: theme("colors.white");
  }
}

.heroSubtitle {
  @apply text-5xl font-semibold text-blue-700;

  text-shadow: 0 0 0.1875rem rgb(29 78 216 / 25%);

  &::selection {
    background: theme("colors.blue.700");
    color: theme("colors.white");
  }
}
