.base {
  display: inline-flex;

  gap: 0.8em;

  align-items: center;
  justify-content: center;

  line-height: 1;

  cursor: pointer;

  outline: none;

  transition: color theme("transitionDuration.200")
    theme("transitionTimingFunction.DEFAULT");
}

.underline {
  padding-bottom: 0.1em;
  margin-top: 0.1em;

  text-shadow: -0.1875rem 0 #fff, 0.1875rem 0 #fff, -0.1875rem 0.0625rem #fff,
    0.1875rem 0.0625rem #fff, -0.125rem 0.0625rem #fff, 0.125rem 0.0625rem #fff,
    -0.0625rem 0.0625rem #fff, 0.0625rem 0.0625rem #fff, 0 0.0625rem #fff;

  background-image: linear-gradient(
    to right,
    rgb(29 78 216 / 25%),
    rgb(59 130 246 / 25%)
  );
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 0.15em;
}

.underlineFocusedOrHovered {
  background-image: linear-gradient(to right, #1d4ed8, #3b82f6);
}

.isPressed {
  color: theme("textColor.blue.700");
}

.externalIcon {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 1em;
  height: 1em;

  background-repeat: no-repeat;
  background-position: center center;

  &FaviconHidden {
    background-image: none !important;
  }
}

.externalIconSVG {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  transform: translateX(100%);
}

.externalIconSVGVisible {
  opacity: 1;

  transition: transform 0.3s theme("transitionTimingFunction.DEFAULT"),
    opacity 0.25s linear 0.05s;

  transform: translateX(0);
}
