.base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  line-height: 1;
  gap: 0.8em;
  transition: color theme("transitionDuration.200")
    theme("transitionTimingFunction.DEFAULT");
}

.underline {
  background-image: linear-gradient(to right, rgb(29 78 216 / 10%), rgb(29 78 216 / 10%));
  background-position: 0 0.9em;
  background-repeat: repeat-x;
  padding-bottom: 0.1em;
  margin-top: 0.1em;
  background-size: 0.4em 0.15em;
}

.underlineFocusedOrHovered {
  background-image: linear-gradient(
    to right,
    rgb(29 78 216 / 100%),
    rgb(29 78 216 / 100%)
  );
}

.isPressed {
  color: theme("textColor.blue.700");
}

.externalIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1em;
  height: 1em;
}

.externalIconFavicon {
  width: 1rem;
  height: 1rem;

  &Hidden {
    opacity: 0;
  }
}

.externalIconSVG {
  position: absolute;
  top: 0;
  left: 0;
}
