.link {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  font-weight: 600;
  position: relative;
  outline: none;

  @apply text-xl;
}

.underline {
  opacity: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: theme("colors.black");
  transition: theme("transitionProperty.opacity") theme("transitionDuration.200")
    theme("transitionTimingFunction.DEFAULT");
}

.underlineWithIcon {
  width: calc(100% - 2rem);
}

.underlineWithBothIcons {
  width: calc(100% - 4rem);
}

.isPressed {
  color: theme("colors.blue.700");

  & .underline {
    background: theme("colors.blue.700");
  }
}

.isFocusedOrHovered {
  cursor: pointer;

  & .underline {
    opacity: 1;
  }
}

.isDisabled {
  cursor: not-allowed;
  opacity: theme("opacity.50");
}
