{
  "presets": ["next/babel"],
  "plugins": [["emotion"]],
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ".",
            "alias": {
              "src": "./src",
              "test": "./test"
            }
          }
        ]
      ]
    }
  }
}
