{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ".",
            "alias": {
              "src": "./src",
              "test": "./test"
            }
          }
        ]
      ]
    }
  }
}
