{
  "semi": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all"
}
