{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "value-list-comma-newline-after": null,
    "declaration-colon-newline-after": null,
    "selector-list-comma-newline-after": "never-multi-line"
  }
}
