{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "value-list-comma-newline-after": false,
    "declaration-colon-newline-after": false,
    "indentation": false
  }
}
