.textarea {
  height: 100%;
  margin-top: 1rem;

  font-size: 1rem;
  color: theme("textColor.zinc.700");

  background: none;
  outline: none;
}

.label {
  height: 32rem;
}

.charactersLeft {
  font-weight: 500;
  color: theme("textColor.zinc.500");
}
