.dropdown {
  background: black;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 768px;
  height: 300px;
  border-radius: 16px;
  padding: 32px;
}
