.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: theme("zIndex.50");

  width: 100%;
  height: theme("height.navigationHeight");

  background: #fff;
}

.navigationList {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 48rem;
  height: 100%;
  margin: 0 auto;

  & > li:first-of-type {
    flex-grow: 1;
  }

  & > li:last-of-type {
    flex-grow: 2;
  }
}

.navigationButtonsGroup {
  display: flex;

  justify-content: space-between;
}
