.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: calc(100vh - theme("height.navigationHeight"));
}

.contentWrapper {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex: 1 0 100%;
}

.sideContent {
  max-width: 37.5rem;

  & > h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 0 0.25rem rgb(0 0 0 / 25%);
  }

  & > p {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: justify;
    color: theme("textColor.zinc.600");
    margin-top: 2rem;
  }
}

.subHeading {
  font-weight: 600;
  font-size: 2rem;
  color: theme("textColor.zinc.600");
  margin: 1rem 0;
}

.mailLink {
  color: theme("textColor.blue.700");
}
