.main {
  display: flex;

  flex-direction: column;

  gap: 1rem;

  align-items: center;
  justify-content: center;

  max-width: 48rem;
  min-height: calc(100vh - theme("height.navigationHeight"));
  padding: 4rem;
  margin: 0 auto;
}

.header {
  display: inline-flex;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 2rem;

  font-size: 1.25rem;
  font-weight: 600;
  color: theme("textColor.white");

  background: theme("backgroundColor.green.700");
  border: 0.1875rem solid theme("borderColor.green.600");
  border-radius: 1rem;
}

.recapitulation {
  display: flex;

  flex-direction: column;

  gap: 2rem;

  width: 100%;
  padding: 2rem;

  background: #fafafa;
  border: 0.1875rem solid #f4f4f5;
  border-radius: 1rem;

  & > div {
    & span {
      font-weight: 700;
      text-shadow: 0 0 0.0469rem rgb(0 0 0 / 25%);
      text-transform: uppercase;
    }

    & p {
      margin-top: 0.5rem;

      font-size: 1.25rem;
      text-align: justify;
      word-wrap: break-word;
    }
  }
}

.link {
  display: inline-flex;

  justify-content: center;

  width: 100%;
  padding: 0.8em;

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;

  border-radius: 0.8em;
}

.linkCta {
  color: theme("textColor.white");

  background: theme("backgroundColor.blue.700");
}
