.base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  font-weight: 600;
  line-height: 1;
  padding: 1em 1.5em;
  border-radius: 0.8em;
  background-color: red;
  outline: none;

  & svg {
    height: 1em;
    width: auto;
  }

  &[data-icon="solo"] {
    padding: 0.75em;
  }
}

.isHovered {
  color: yellow;
}

.isFocused {
  color: blue;
}

.isPressed {
  color: orange;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 1.25rem;
}

.lg {
  font-size: 1.5rem;
}

.isLoadingIcon {
  animation: spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
