.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #fff;
  z-index: theme("zIndex.50");
}

.navigationList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 48rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  & > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.navigationItem {
  font-weight: 600;
  font-size: theme("fontSize.xl");
  cursor: pointer;
  outline: none;
  position: relative;
  transition: color 0.15s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.625rem;
    left: 0;
    width: 0;
    height: 0.125rem;
    background: #000;
    transition: width 0.2s ease-in-out;
  }
}

.navigationItemIsFocusedOrHovered {
  &::after {
    width: 100%;
  }
}

.navigationItemIsPressed {
  color: theme("textColor.blue.700");

  &::after {
    background: theme("textColor.blue.700");
  }
}

.navigationMenu {
  position: absolute;
  top: 5rem;
  background: #fff;
  z-index: theme("zIndex.50");
}
