.container {
  width: 100%;
  padding-top: 56.25%;
  height: 0;
  position: relative;
}

.embed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.placeholder {
  width: 100%;
  padding-top: 56.25%;
}
