$font-weight-map: (
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
);

@function get-font-path($weight) {
  @return url("/fonts/Quicksand-" + $weight + ".woff2") format("woff2"),
    url("/fonts/Quicksand-" + $weight + ".woff") format("woff");
}

@mixin custom-normal-font($weight) {
  font-display: swap;
  font-family: Quicksand;
  font-style: normal;
  font-weight: map-get($font-weight-map, $weight);
  src: get-font-path($weight);
}

@font-face {
  @include custom-normal-font("Bold");
}

@font-face {
  @include custom-normal-font("SemiBold");
}

@font-face {
  @include custom-normal-font("Medium");
}

@font-face {
  @include custom-normal-font("Regular");
}
