.navigationItem {
  position: relative;

  font-size: theme("fontSize.xl");
  font-weight: 600;
  line-height: 1.5;

  cursor: pointer;

  outline: none;

  transition: color 0.15s ease-in-out;

  &::after {
    position: absolute;
    bottom: -0.625rem;
    left: 0;

    width: 0;
    height: 0.125rem;

    content: "";

    background: #000;

    transition: width 0.2s ease-in-out;
  }

  &[data-icon="two"]::after {
    left: 50%;

    transform: translate(-50%, 0);
  }
}

.navigationItemIsFocusedOrHovered {
  &::after {
    width: calc(100%);
  }

  &[data-icon="one"]::after {
    width: calc(100% - 0.75rem - 1.25rem);
  }

  &[data-icon="two"]::after {
    width: calc(100% - 0.75rem - 2.5rem);
  }
}

.navigationItemIsPressed {
  color: theme("textColor.blue.700");

  &::after {
    background: theme("textColor.blue.700");
  }
}
