.footer {
  padding-top: 4rem;
  margin: 0 4rem;
  border-top: 0.125rem solid theme("backgroundColor.zinc.100");
  height: 32rem;
}

.copyrightNotice {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.footerContent {
  display: flex;
  justify-content: center;
  gap: 8rem;
  font-size: 1.25rem;
  font-weight: 500;
  height: calc(100% - 5rem);

  & h1 {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 0.125rem rgb(0 0 0 / 25%);
    margin-bottom: 2rem;
    white-space: nowrap;
  }

  & li {
    margin-bottom: 0.5rem;
  }
}
