$max-title-width: 50ch;

.preview {
  @apply mb-1;
  @apply hover:underline;
  @apply sm:mb-4;
}

.preview__link {
  @apply flex text-2xl;
  @apply sm:flex-col;

  line-height: 2rem;

  h2 {
    @apply order-2 ml-4;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: $max-title-width;

    @apply sm:ml-0 sm:whitespace-normal sm:w-auto sm:mb-1;
  }

  time {
    @apply order-first whitespace-nowrap text-blue-600;
  }
}

.preview__badgeholder {
  @apply order-3 ml-auto flex;
  @apply sm:ml-0;

  & > div {
    @apply ml-1;

    &:first-of-type {
      @apply ml-0;
    }
  }
}
