.footer {
  height: 32rem;
  padding-top: 4rem;
  margin: 0 4rem;

  border-top: 0.125rem solid theme("backgroundColor.zinc.100");
}

.copyrightNotice {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 5rem;

  font-weight: 700;
}

.footerContent {
  display: flex;

  gap: 8rem;

  justify-content: center;

  height: calc(100% - 5rem);

  font-size: 1.25rem;
  font-weight: 500;

  & h1 {
    margin-bottom: 2rem;

    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 0.125rem rgb(0 0 0 / 25%);
    white-space: nowrap;
  }

  & li {
    margin-bottom: 0.5rem;
  }
}
