$container-padding: 2rem;

.sectionList {
  color: #fff;

  & > li {
    margin-bottom: 0.5rem;

    font-weight: 600;
    line-height: 1.5;
  }
}

.navigationDropdown {
  position: absolute;
  left: calc(50% - 24rem);

  display: flex;

  width: 100%;
  max-width: 48rem;
  min-height: 18.75rem;
  padding: $container-padding;
  margin-top: 2rem;

  background: #000;
  border-radius: 1rem;
  box-shadow: 0 1.25rem 1.5625rem rgb(0 0 0 / 10%), 0 0.625rem 0.625rem rgb(0 0 0 / 4%);
}

.sectionHeader {
  margin-bottom: 2rem;

  font-size: 1.125rem;
  font-weight: 700;
  color: theme("textColor.blue.200");
}

.sectionContainer {
  display: flex;

  flex: 1 0 auto;

  justify-content: space-between;
}

.memojiContainer {
  position: relative;

  width: calc(18.75rem - $container-padding * 2);
  height: calc(18.75rem - $container-padding * 2);
  overflow: hidden;

  border-radius: 1rem;

  & svg {
    position: absolute;
    z-index: theme("zIndex.10");

    opacity: 0.15;
  }

  &::before {
    position: absolute;
    z-index: theme("zIndex.50");

    width: 100%;
    height: 100%;

    content: "";

    box-shadow: inset 0 0 2rem #000;
  }
}

.memojiImage {
  z-index: theme("zIndex.30");
}

.dropdownLink {
  position: relative;

  cursor: pointer;

  outline: none;

  &::after {
    position: absolute;
    bottom: -0.25rem;
    left: 0;

    width: 0;
    height: 0.125rem;

    content: "";

    background: #fff;

    transition: width 0.2s ease-in-out;
  }
}

.dropdownLinkIsPressed {
  color: theme("textColor.blue.200");

  &::after {
    background: theme("textColor.blue.200");
  }
}

.dropdownLinkIsFocusedOrHovered {
  &::after {
    width: 100%;
  }
}

.ctaLink {
  width: 100%;
  padding: 1em 0;

  font-size: 1rem;
  font-weight: 700;
  color: theme("colors.white");
  text-align: center;

  background: linear-gradient(
    267.77deg,
    theme("gradientColorStops.blue.700") 0%,
    theme("gradientColorStops.blue.500") 100%
  );
  border-radius: 1em;
  box-shadow: inset 0 0 0.5em theme("boxShadowColor.black");
}

.ctaLinkHovered {
  background: theme("backgroundColor.blue.700");
}

.ctaLinkFocused {
  background: theme("backgroundColor.blue.700");
  @apply ring-4 ring-offset-2 ring-offset-black ring-blue-700;
}

.ctaLinkPressed {
  background: theme("backgroundColor.blue.800");
}

.sideContent {
  display: flex;

  flex-direction: column;

  gap: 1rem;
}

.sectionLinkUnderline {
  text-shadow: -0.1875rem 0 #000, 0.1875rem 0 #000, -0.1875rem 0.0625rem #000,
    0.1875rem 0.0625rem #000, -0.125rem 0.0625rem #000, 0.125rem 0.0625rem #000,
    -0.0625rem 0.0625rem #000, 0.0625rem 0.0625rem #000, 0 0.0625rem #000;

  background-image: none;
}

.sectionLinkIsPressed {
  color: theme("textColor.zinc.300");
}

.sectionLinkIsFocusedOrHovered {
  background-image: linear-gradient(to right, #fff, #fff);
}

.sectionLinkIsPressedUnderline {
  background-image: linear-gradient(
    to right,
    theme("textColor.zinc.300"),
    theme("textColor.zinc.300")
  );
}
