.main {
  @apply max-w-main mx-auto h-screen flex justify-center flex-col;
  @apply xl:p-4;
  @apply lg:p-8;
}

.logo {
  @apply flex h-16 items-center text-2xl font-bold mb-8;
  @apply sm:text-base;

  img {
    @apply w-16 h-auto rounded-full mr-8;
  }
}

.mainHeader {
  @apply text-7xl font-bold mb-8 leading-tight;
  @apply lg:text-5xl;
}

.introductionParagraph {
  @apply text-2xl text-gray-500 font-medium;

  strong {
    @apply text-black;
  }

  a {
    @apply text-blue-500 underline;
    @apply hover:text-blue-600;
  }
}

.actionButtons {
  @apply font-bold text-2xl mt-8;
}

.textShadowBase {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.bevel {
  position: relative;

  &::after {
    bottom: -1rem;
    content: "";
    height: 2rem;
    position: absolute;
    right: -1rem;
    width: 2rem;

    @apply transform rotate-45 bg-white;
  }

  &:focus {
    outline: 2px solid black;
    outline-offset: 0;

    &::after {
      border-left: 2px solid black;
    }
  }
}
