.pageWrapper {
  margin-right: 33%;
  padding: 6.4rem;
}

.mainHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: inline;
  font-size: 12.8rem;
  text-shadow: 4px 4px 0 #ddd;
}

.subHeader {
  font-size: 3.6rem;
  font-weight: bold;
}

.quickLinkList {
  list-style-type: none;
  padding: 0;

  & li {
    display: flex;
    margin-bottom: 1rem;

    & svg {
      color: rgba(0, 0, 0, 0.25);
      height: 3rem;
      width: 3rem;
    }

    & a {
      color: #000;
      font-size: 2.4rem;
      font-weight: bold;
      margin-left: 3.2rem;
    }
  }
}

@media (max-width: 64em) {
  .pageWrapper {
    margin-right: 0;
  }
}

@media (max-width: 48em) {
  .pageWrapper {
    padding: 3.2rem;
  }
}

@media (max-width: 36em) {
  .mainHeader {
    font-size: 3.6rem;
  }

  .subHeader {
    font-size: 2.4rem;
  }
}
