.label {
  display: flex;

  flex-flow: column;

  padding: 1rem 1.5rem;

  font-size: 0.75rem;
  font-weight: 700;

  background: theme("backgroundColor.zinc.50");
  border: 0.1875rem solid theme("backgroundColor.zinc.100");
  border-radius: 1rem;

  transition: border-color theme("transitionDuration.200")
    theme("transitionTimingFunction.DEFAULT");

  & textarea::selection,
  input::selection {
    color: theme("textColor.white");

    background-color: theme("backgroundColor.black");
  }

  & > input {
    margin-top: 0.5rem;

    font-size: 1rem;
    color: theme("textColor.zinc.700");

    background: theme("backgroundColor.zinc.50");
    outline: none;

    &::placeholder {
      color: theme("textColor.zinc.500");
    }
  }
}

.labelText {
  text-shadow: 0 0 0.0469rem rgb(0 0 0 / 25%);
}

.labelTextRequiredMark {
  &::after {
    color: theme("textColor.red.500");

    content: " *";
  }
}

.topBar {
  display: flex;

  justify-content: space-between;
}

.focused {
  border-color: theme("backgroundColor.blue.700");
}

.errorMessage {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  font-weight: 500;
  color: theme("textColor.red.600");

  & svg {
    margin-right: 0.25rem;
  }
}

.formError {
  border-color: theme("backgroundColor.red.600");
}
